@model List<justdoit_fixer.Models.Todo>

@{
    var all_todos = Model;
    var table_type = "pinned";
}

<setion class="flex flex-col items-center justify-center border-2">

    <span> @all_todos.Count tasks</span>

    @if (table_type.Equals("pinned"))
    {
        <div
            class="h-96 w-max-128 overflow-x-auto">
            <table class="table table-fixed table-pin-rows">
                @foreach (var priority_group in all_todos.GroupBy(t => t.priority))
                {
                    <thead>
                    <tr>
                        @if (priority_group.Any())
                        {
                            <th>
                                P@(@priority_group.Key)
                            </th>
                        }
                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var todo in @priority_group)
                    {
                        <tr x-data="{show:true}"

                            x-show="show"
                            x-transition:enter="transition ease-out duration-300"
                            x-transition:enter-start="opacity-0 scale-90"
                            x-transition:enter-end="opacity-100 scale-100"
                            x-transition:leave="transition ease-in duration-300"
                            x-transition:leave-start="opacity-100 scale-100"
                            x-transition:leave-end="opacity-0 scale-90">

                            <td class="flex flex-row gap-2">

                                @* <span x-text="show"></span> *@
                                <label class="w-10">
                                    <input
                                        hx-get
                                        hx-page="Index"
                                        hx-page-handler="MarkDone"
                                        hx-vars="{id:'@todo.id'}"
                                        x-on:click="show=false"
                                        hx-on::after-request="show=false"
                                        hx-swap="innerHTML"
                                        type="checkbox"
                                        class="checkbox"/>
                                    <span></span>
                                </label>

                                <span class="badge badge-@todo.priority_css text-white">@todo.priority</span>

                                <span class="badge badge-@todo.status_css text-white">@todo.status</span>

                                <span class="text-neutral-600">

                                    @todo.content
                                </span>
                            </td>
                        </tr>
                    }
                    </tbody>
                }
            </table>
        </div>
    }

</setion>